.blog_doc {
    margin: 0 2.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog_doc h2 {
    border-left: 5px solid var(--color-one);
    border-bottom: 1px solid var(--color-one);
}

.blog_doc h3 {
    border-bottom: 1px solid var(--color-one);
}

.blog_doc hr {
    margin: 0 auto;
    padding: 0 auto;
}

.blog_doc img {
    max-width: 300px;
    max-height: 500px;
}
